@page "/"
@inject NavigationManager NavManager

<h1>Pointing Poker Plus!</h1>

<MatButton OnClick=@CreateSession Raised="true">Create Session</MatButton>

@code{

    void CreateSession()
    {
        NavManager.NavigateTo("/createSession");
    }
}