################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PointingPokerPlus
/PointingPokerPlus/Client/bin/Debug
/PointingPokerPlus/Client/obj
/PointingPokerPlus/Client/Properties/launchSettings.json
/PointingPokerPlus/Server/bin/Debug/netcoreapp3.1
/PointingPokerPlus/Server/obj
/PointingPokerPlus/Server/PointingPokerPlus.Server.csproj.user
/PointingPokerPlus/Client/PointingPokerPlus.Client.csproj.user
/PointingPokerPlus/Shared/bin/Debug
/PointingPokerPlus/Shared/obj
